<div class="text-center">
    <h1 class="text-info">InquiryConfirmation</h1>
    <p>We have recieved your inquiry and some from our team will contact you shortly!</p>
    <img src="/images/patio.jpg" width="80%" />
</div>